<h1>Register for workspace</h1>
<form action="/users" method="post">
  <% if @user.errors.full_messages.length > 0 %>
    <% @user.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
    <br>
  <% end %>

  <%= auth_token %>
  <input type="text" name="user[email]" placeholder="Email:" value= "<%= @user.email %>">
  <input type="text" name="user[first_name]" placeholder="First Name:" value= "<%= @user.first_name %>">
  <input type="text" name="user[last_name]" placeholder="Last Name:" value= "<%= @user.last_name %>">
  <input type="text" name="user[location]" placeholder="Location:" value= "<%= @user.location %>">
  <input type="password" name="user[password]" placeholder="Enter a password: " value= "<%= @user.password %>">
  <input type="text" id="opener" name="user[image_id]" placeholder="Profile Pic" value= "<%= @user.image_id %>">

  <input type="submit" value="Create User">
</form>

<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<script type="text/javascript">
  $('#opener').cloudinary_upload_widget(
    { cloud_name: 'goworkspace', upload_preset: 'l3scxvxg',
      cropping: 'server', 'folder': 'user_photos' },
    function(error, result) {
      if (!error) {
        $.ajax ({
          url: "/api/images",
          method: "post",
          data: {image: {url: result[0].secure_url}},
          success: function (image) {
            document.getElementById('opener').value = image.id;
          }
        })
      }
    });
</script>
